/* Google Fonts CDN */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Noto Sans", sans-serif;
}

body {
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #014179;
}

.container {
	width: 1000px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.left-box input {
	position: relative;
	width: 100%;
	padding: 10px 20px;
	font-size: 1.4rem;
	background-color: transparent;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 4px;
}

.left-box input:focus {
	outline: none;
}

.left-box i {
	position: absolute;
	right: 59.5%;
	top: 43.5%;
	font-size: 1.1rem;
	color: #fff;
}

.right-box {
	padding: 20px 40px;
	background-color: #fff;
	border-radius: 10px;
}

.right-box h4 {
	font-size: 1.4rem;
	margin-bottom: 10px;
	font-weight: 900;
	color: #014179;
}

.right-box ul li {
	padding: 15px 10px 10px 20px;
	list-style-type: none;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	gap: 10px;
}

.right-box ul li i {
	color: red;
	text-align: center;
}
